

    <!-- 참고: https://getbootstrap.com/docs/4.3/content/tables/ (중간) -->
    <table class="table table-hover">
      <thead>
        <tr>
          <td scope="col">등록번호</td>
          <td scope="col">영화제목</td>
          <td scope="col">개봉</td>
          <td scope="col">장르</td>
          <td scope="col">관람등급</td>
          <td scope="col">수정하기</td>
          <td scope="col">상세보기</td>
          <td scope="col">썸네일보기</td>
          <td scope="col">삭제하기</td>
        </tr>
      </thead>
      
      <tbody>
        {{#each rows}}
        <tr>
          <th scope="row">{{this.sequence}}</th>
          <td>{{this.title}}</td>
          <td>{{this.opendate}}</td>
          <td>{{this.genre}}</td>
          <td>{{this.rating}}</td>
          <td><a href="/movie/view/?seq={{this.seq}}">수정하기</a></td>
          <td><a href="{{this.detailurl}}" target="_blank">바로가기</a></td>
          <td><a href="{{this.thumbnail}}" target="_blank">보기</a></td>
          <td><a href="/movie/delete/{{this.seq}}">삭제하기</a></td>
        </tr>
        {{/each}}
      </tbody>
      
    </table>
